<!--

  Base Page component.

-->
<div data-sly-include="author.html"></div>

<html>
    <div data-sly-include="head.html"></div>
    <div id="container" class="home redirect">
        <div data-sly-include="header.html"></div>
        <div data-sly-include="content.html"></div>
        <div data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"></div>
        <div data-sly-resource="${'map' @ resourceType='wcm/foundation/components/iparsys'}"></div>
        <div data-sly-include="footer.html"></div>
    </div>
</html>



