<header class="clearfix">
    <div class="row margin0 pstn-rltv">
        <div class="col-xs-12 col-sm-6 col-md-3 padding0">
            <div data-sly-resource="${'logo' @ resourceType='/apps/ttnd/components/content/logo'}">
			</div>
        </div>
		<div class="col-sm-6 col-md-9  padding0 pstn-stct">
			<div data-sly-resource="${'list' @ resourceType='/apps/ttnd/components/content/list'}"></div>
            <div data-sly-resource="${'megamenu' @ resourceType='/apps/ttnd/components/content/topnav'}"></div>
		</div>
    </div>
</header>
